h1{ color:blue;
}
p{background-color:green;
}
body{background-color:lightblue;}
nav{
    color:yellow;
    padding:10px;
}
nav{
    list-style-type:none;
    margin:20px;
    padding:0
}
nav ul li{
    display:inline;
    margin-right:20px;
}
nav ul li a{
    color:goldenrod;
    text-decoration:none;
}
nav ul li a:hover{
    text-decoration:underline;
}
section{
    padding:20px;
}
footer{
    background-color:#2858de;
    color:#fff;
    text-align:center;
    padding:10px 0;
}